@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 0;
	background-color: darkgray;
}

.mainContainer {
	display: grid;
	grid-template-columns: 3fr 4fr 3fr;
	background-color: rgb(212, 212, 212);
	border-radius: 0.5em;
	margin: 2em;
	border: 2em;
}

.rocketContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rocketContainer img {
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.rocketInformationContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 2em;
}

.bold-header {
	font-weight: bold;
}

.rocketButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

.moreButton {
	background-color: darkgray;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	font-weight: bold;
	border-radius: 0.5em;
}
